{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "true": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}
